<!DOCTYPE html>
<html>
<body>
<form name="login" action="http://127.0.0.1:5000/login" method="POST" accept-charset="utf-8">  
    <ul>  
        <li><label for="username">Username</label>  
        <!-- value of `name` atribute is passed from server.py - main logic module -->
        <!-- the value is passed in render_template function as a parameter anter the name of html file -->
        <input type="text" name="username" placeholder=" username" required></li>  
        <li><label for="password">Password</label>  
        <input type="password" name="password" placeholder="password" required></li>  
        <li>  
        <input type="submit" value="Login"></li>  
    </ul>  
</form>  
</body>
</html>
