<!DOCTYPE html>
<html>
<body>
<form name="login" action="/login" method="POST" accept-charset="utf-8">  
    <ul> 
        {% if message %}
        <h2>{{message}}</h2>
        {% endif %} 
        <li><label for="username">Username</label>  
        <!-- value of `name` atribute is passed from server.py - main logic module -->
        <!-- the value is passed in render_template function as a parameter anter the name of html file -->
        <input type="text" name="username" placeholder=" username" required></li>  
        <li><label for="password">Password</label>  
        <input type="password" name="password" placeholder="password" required></li>  
        <li>  
        <input type="submit" value="Login"></li>  
    </ul>
    <td>
        <a href="/register?id=">Register</a><br>
    </td>  
</form>  
</body>
</html>
